.header {
    height: 74px;
    background-color: red;
}

.header-logo {
    text-align: center;
    font-size: 33px;
    color: red;
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 1%;
    margin-top: 1%;
    font-family: Poppins;
    font-weight: bold;
    display: inline-block;
}

.header-user {
    float: right;
    color: white;
    margin-right: 20px;
    margin-top: 24px;
}

.login {
    display: inline-block;
}

.signup {
    display: inline-block;
    margin-left: 10px;
    border: 1px solid white;
    padding: 5px;
}

.modal-class{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.modal-body > .btn-1{
    margin: 2rem;
}

